/* Global Tags */
body {
    background-color: lightgray;
    width: 100%;
    margin: 0;
}
.section-bordered {
    border-bottom: 1px solid gray;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1% 3% 0.1% 3%;
    margin: auto;
}

/* CTA */
.cta_st {
    width: 60%;
    height: 60%;
}
.store-links {
    width: 50%;
}
.cta {
    width: 40%;
    text-align: center;
}

/* Nav */
.nav-items {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: inline;
    text-align: center;
    font-size: 2.3vh;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Short Description*/
.article {
    text-align: justify;
    font-size: 2.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
}

/* 3 block */
@media only screen and (max-device-width: 480px) {
    .desc-ul {
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-device-width: 481px) {
    .desc-ul {
        padding: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.div-desc {
    width: 80%;
    display: inline;
    text-align: center;
    font-size: 2.5vh;
    font-family: Bahnschrift;
    list-style-type: none;
}
.cont-img {
    width: 80%;
}

/* Full desc */
.left-block {
    text-align: left;
}
.right-block {
    text-align: right;
}


/* Feedback */
.cont-feedback {
    transform: rotate(-90deg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs {
    text-align: center;
}
.label-feedback {
    font-size: 3vh;
    font-weight: bold;
}
.feedback-form {
    font-size: 2vh;
    width: 100%;
}
.cont-feedback-form {
    height: 100%;
    margin: 1px;
    padding: 10px;
}
.feedback-button {
    font-size: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

/* Footer */
@media only screen and (max-device-width: 480px) {
    .img-foot {
        width: 8vh;
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media only screen and (min-device-width: 481px) {
    .img-foot {
        width: 5vh;
    }
}
.list-item {
    display: inline;
    padding-left: 2em;
}






